python-dotenv
motor
pytz
pymongo[svr]
dnspython
aiohttp
pydantic

# agents_tasks service
openai
anthropic
requests_oauthlib

# telegram
python-telegram-bot
chatgpt-md-converter

# phitdata
phidata
duckduckgo-search
pgvector
psycopg[binary]
pypdf